<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .container{

        }
        .header{
                display: grid;
            justify-content: center;
        }
        .main{
            display: flex;
            justify-content: space-between;
            margin:10%;
            margin-left:20%

        }
        .createlec ,.joinlec{
            width:50%;
            justify-content: center;
            align-items: center;
        }
        
input{
    border-radius: 40px;
    padding: 8px;
    background: transparent;
    transition: all 0.3s ease;
    margin:10px;
    width:40%;
}

input:focus {
  outline: none;
}

button{
  margin-top:10px;
  border-radius: 40px;
  padding:10px;
  width:40%;
  background-color:#6f7375;
}

</style>
    <div class="container">
            
            <div class="header">
                <h2>Online Class Platform</h2>
            </div>
            
            <div class="main">
                <div class="createlec">
                    <h2>Join Lec</h2>
                    <form id="send-container">
                        <input type="text" id="message-input" placeholder="Video Link" required></br>
                        <input type="text" id="message-input" placeholder="name" required></br>
                        <input type="email" id="message-input" placeholder="email" required></br>
                        <button type="submit" id="send-button">Join Class</button>
                      </form>
                </div>
                <div class="joinlec">
                    <h1>sad</h1>
                </div>
            </div>
    </div>
</body>
</html>